<section class="content">
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1">

            <div class="box box-solid">
                <div class="box-body">

                    <div id="container">Placeholder for chart</div>

                </div>
            </div>

            <div class="box box-solid">
                <div class="box-body">

                    <div class="col-md-12" style="content:url(kipsrm-web/assets/img/iidf_analysis/1.png);"></div>

                </div>
            </div>

            <div class="box box-solid">
                <div class="box-body">

                    <div class="col-md-12" style="content:url(kipsrm-web/assets/img/iidf_analysis/2.jpg);"></div>

                </div>
            </div>

            <div class="box box-solid">
                <div class="box-body">

                    <div class="col-md-12" style="content:url(kipsrm-web/assets/img/iidf_analysis/3.png);"></div>

                </div>
            </div>

        </div>
    </div>
</section>