<section class="content">
    <div class="row">
        <div class="col-md-12">
            <a href="#!/incidents/nite/records" class="btn btn-primary btn-social-icon" title="Records"><i class="fa fa-list"></i></a>
            <a href="#!/incidents/nite/charts" class="btn btn-primary btn-social-icon" title="Charts"><i class="fa fa-pie-chart"></i></a>
            <a href="#!/incidents/nite/iidf" class="btn btn-bitbucket btn-social-icon" title="IIDF Analysis"><i class="fa fa-tasks"></i></a>
            <a href="#!/incidents/nite/gis" class="btn btn-primary btn-social-icon" title="GIS"><i class="fa fa-map-marker"></i></a>
            <a href="#!/incidents/nite/heatmap" class="btn btn-primary btn-social-icon" title="Heatmap"><i class="fa fa-map"></i></a>
            <a href="#!/incidents/nite/event" class="btn btn-primary btn-social-icon" title="Event"><i class="fa fa-calendar"></i></a>
            <a href="#!/incidents/nite/spider" class="btn btn-primary btn-social-icon" title="Spider"><i class="fa fa-bullseye"></i></a>
            <p></p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-12">
            <div class="box box-solid" ng-show="showPane=='iidfHm'">
                <div class="box-body">
                    <a ng-class="showPane=='iidfHm' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHm'">Hazard vs Motion</a>
                    <a ng-class="showPane=='iidfHo' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHo'">Hazard vs. Object</a>
                    <a ng-class="showPane=='iidfHmat' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmat'">Hazard vs. Material</a>
                    <a ng-class="showPane=='iidfHmec' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmec'">Hazard vs. Mechanism</a>
                    <a ng-class="showPane=='iidfHact' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHact'">Hazard vs. Activity</a>
                    <a ng-class="showPane=='iidfAnalysis' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfAnalysis'">Analysis</a>
                    <hr>
                    <div id="iidfHm">Loading...</div>
                </div>
            </div>
            <div class="box box-solid" ng-show="showPane=='iidfHo'">
                <div class="box-body">
                    <a ng-class="showPane=='iidfHm' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHm'">Hazard vs Motion</a>
                    <a ng-class="showPane=='iidfHo' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHo'">Hazard vs. Object</a>
                    <a ng-class="showPane=='iidfHmat' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmat'">Hazard vs. Material</a>
                    <a ng-class="showPane=='iidfHmec' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmec'">Hazard vs. Mechanism</a>
                    <a ng-class="showPane=='iidfHact' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHact'">Hazard vs. Activity</a>
                    <a ng-class="showPane=='iidfAnalysis' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfAnalysis'">Analysis</a>
                    <hr>
                    <div id="iidfHo" style="height: 1000px;">Loading...</div>
                </div>
            </div>
            <div class="box box-solid" ng-show="showPane=='iidfHmat'">
                <div class="box-body">
                    <a ng-class="showPane=='iidfHm' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHm'">Hazard vs Motion</a>
                    <a ng-class="showPane=='iidfHo' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHo'">Hazard vs. Object</a>
                    <a ng-class="showPane=='iidfHmat' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmat'">Hazard vs. Material</a>
                    <a ng-class="showPane=='iidfHmec' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmec'">Hazard vs. Mechanism</a>
                    <a ng-class="showPane=='iidfHact' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHact'">Hazard vs. Activity</a>
                    <a ng-class="showPane=='iidfAnalysis' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfAnalysis'">Analysis</a>
                    <hr>
                    <div id="iidfHmat">Loading...</div>
                </div>
            </div>
            <div class="box box-solid" ng-show="showPane=='iidfHmec'">
                <div class="box-body">
                    <a ng-class="showPane=='iidfHm' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHm'">Hazard vs Motion</a>
                    <a ng-class="showPane=='iidfHo' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHo'">Hazard vs. Object</a>
                    <a ng-class="showPane=='iidfHmat' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmat'">Hazard vs. Material</a>
                    <a ng-class="showPane=='iidfHmec' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmec'">Hazard vs. Mechanism</a>
                    <a ng-class="showPane=='iidfHact' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHact'">Hazard vs. Activity</a>
                    <a ng-class="showPane=='iidfAnalysis' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfAnalysis'">Analysis</a>
                    <hr>
                    <div id="iidfHmec">Loading...</div>
                </div>
            </div>
            <div class="box box-solid" ng-show="showPane=='iidfHact'">
                <div class="box-body">
                    <a ng-class="showPane=='iidfHm' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHm'">Hazard vs Motion</a>
                    <a ng-class="showPane=='iidfHo' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHo'">Hazard vs. Object</a>
                    <a ng-class="showPane=='iidfHmat' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmat'">Hazard vs. Material</a>
                    <a ng-class="showPane=='iidfHmec' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmec'">Hazard vs. Mechanism</a>
                    <a ng-class="showPane=='iidfHact' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHact'">Hazard vs. Activity</a>
                    <a ng-class="showPane=='iidfAnalysis' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfAnalysis'">Analysis</a>
                    <hr>
                    <div id="iidfHact">Loading...</div>
                </div>
            </div>
            <div class="box box-solid" ng-show="showPane=='iidfAnalysis'">
                <div class="box-body">
                    <a ng-class="showPane=='iidfHm' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHm'">Hazard vs Motion</a>
                    <a ng-class="showPane=='iidfHo' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHo'">Hazard vs. Object</a>
                    <a ng-class="showPane=='iidfHmat' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmat'">Hazard vs. Material</a>
                    <a ng-class="showPane=='iidfHmec' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHmec'">Hazard vs. Mechanism</a>
                    <a ng-class="showPane=='iidfHact' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfHact'">Hazard vs. Activity</a>
                    <a ng-class="showPane=='iidfAnalysis' ? 'btn-bitbucket' : btn-primary" class="btn btn-primary" ng-click="showPane='iidfAnalysis'">Analysis</a>
                    <hr>
                    <div class="col-md-12" style="content:url(kipsrm-web/assets/img/iidf_analysis/1.png);"></div>
                    <br>
                    <div class="col-md-12" style="content:url(kipsrm-web/assets/img/iidf_analysis/2.jpg);"></div>
                    <br>
                    <div class="col-md-12" style="content:url(kipsrm-web/assets/img/iidf_analysis/3.png);"></div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="box box-solid box-primary">
        <div class="box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Hazard: <strong>xxx</strong><br>
                    Label: <strong>xxx</strong>
                </h3>
                <div class="text-muted">
                    {{ page === 1 ? "" : "Page " + page + " of "}} <b>{{ nite.stats.hits }}</b> {{'results' | translate}} ({{ nite.stats.tookMillis/100 }} seconds)
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{'annual_number' | translate}}</th>
                            <th>{{'incident_date' | translate}}</th>
                            <th>{{'incident_cause' | translate}}</th>
                            <th>{{'prevention' | translate}}</th>
                            <th>IIDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in nite.data">
                            <td>
                                <a href="" data-toggle="modal" data-target="#niteModal" ng-click="displayDetailsNite(item.annual_number)">{{item.annual_number}}
                                        </a>
                            </td>
                            <td>{{item.incident_date | date:'medium'}}</td>
                            <td>({{item.incident_cause_code}}) - {{item.incident_cause}}</td>
                            <td>{{item.prevention}}</td>
                            <td><span class="text-muted"><i>IIDF</i></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    -->
</section>