<section class="content">
    <div class="row">
        <div class="col-md-12">
            <a href="#!/incidents/nite/records" class="btn btn-primary btn-social-icon" title="Records"><i class="fa fa-list"></i></a>
            <a href="#!/incidents/nite/charts" class="btn btn-primary btn-social-icon" title="Charts"><i class="fa fa-pie-chart"></i></a>
            <a href="#!/incidents/nite/iidf" class="btn btn-primary btn-social-icon" title="IIDF Analysis"><i class="fa fa-tasks"></i></a>
            <a href="#!/incidents/nite/gis" class="btn btn-primary btn-social-icon" title="GIS"><i class="fa fa-map-marker"></i></a>
            <a href="#!/incidents/nite/heatmap" class="btn btn-primary btn-social-icon" title="Heatmap"><i class="fa fa-map-marker"></i></a>
            <a href="#!/incidents/nite/event" class="btn btn-primary btn-social-icon" title="Event"><i class="fa fa-calendar"></i></a>
            <a href="#!/incidents/nite/spider" class="btn btn-primary btn-social-icon" title="Spider"><i class="fa fa-bullseye"></i></a>
            <p></p>
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="pull-right">
                        <li>
                            <div class="input-color">
                                <input type="text" value="東京都" />
                                <div class="color-box" style="background-color: #EDC951;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="input-color">
                                <input type="text" value="大阪府" />
                                <div class="color-box" style="background-color: #CC333F;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="input-color">
                                <input type="text" value="神奈川県" />
                                <div class="color-box" style="background-color: #00A0B0;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="input-color">
                                <input type="text" value="兵庫県" />
                                <div class="color-box" style="background-color: #c3ed51;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="input-color">
                                <input type="text" value="埼玉県" />
                                <div class="color-box" style="background-color: #9575CD;"></div>
                            </div>
                        </li>
                    </ul>
                    <div spider-graph data="data2"></div>
                </div>
                <!-- ./box-body -->
                <div class="box-footer">
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
    </div>
</section>