<footer class="main-footer" ng-controller="FooterController">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.1 | <i class="fa fa-language"></i> {{'language' | translate}}: 
        <a href="" class="translate" ng-click="changeLanguage('en')">English</a>
        <a href="" class="translate" ng-click="changeLanguage('zh')">Chinese</a>
        <a href="" class="translate" ng-click="changeLanguage('ja')">Japanese</a>
    </div>
    <strong>{{'copyright' | translate}} &copy; 2017 <a href="http://www.mimos.my/">MIMOS Berhad</a>.</strong> {{'all_rights_reserved' | translate}}.
</footer>